@import '../../assets/abstracts/colors';
.contactUs{
    height: 200px;
    background-color: white;

.takecareText{
    color: $lightGreen;
}
.Klaritas-text{
    color:$Grey;
    word-break: normal;
}
.ContactBackground{
    background-color: $lightGreen;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    padding-left: 28px;
    border-radius: 30px;
    font-weight: 600;

}
}