@import '../../assets/abstracts/colors';

.email-nav{
    height: 100px;
    .text-color{
        color: $Grey;
    }
    .text-spacing{
        letter-spacing: 0.5px;
    
        &.font-600{
            font-weight: 600;
        }
    }
    
}
